@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@using FoodAndDrink.NodeModels
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/Assets/css/fad-common.css");
    Html.RequiresJs("~/Assets/js/layout.js");
    Html.RequiresJs("~/Assets/js/fad.angular.js");


    var rootSite = ((IPublishedContent)CurrentPage.Site()).As<Site>();
    ViewBag.Title = rootSite.SiteTitle;
    ViewBag.Description = rootSite.SiteDescription;
    var menus = CurrentPage.Site().Children().Where("menuShow == true");
    var currentUrl = Model.Content.Url;
}


<div class="main" id="main">
    <!--==============================header=================================-->
    <header>
        <div class="zerogrid">
            <div class="col-full">
                <div class="wrap-col">
                    <h1><a href="#"><img src="@rootSite.SiteLogo.Url"></a></h1>

                    <div class="menu_block">
                        @*@Html.Partial("~/Views/Partials/_MenuNav.cshtml")*@
                        <nav>
                            <ul class="sf-menu">
                                <li class="@(currentUrl == @"/" ? "current": "")">
                                    <a href="/">Home</a>
                                </li>
                                @foreach (var item in menus)
                                {
                                    var text = string.IsNullOrEmpty(item.menuText) ? item.Name : item.menuText;
                                    var activeClass = (item.Url == currentUrl) ? "current" : "";
                                    <li class="@activeClass">
                                        <a href="@item.Url">@text</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>

    <div id="fad-container">
        @RenderBody()
    </div>
    
</div>

<!--==============================footer=================================-->
<footer>
    <div class="zerogrid">
        <div class="col-full">
            <div class="wrap-col">
                Gourmet © 2013  &nbsp;&nbsp; |&nbsp;&nbsp;   <a href="#">Privacy Policy</a>    &nbsp;&nbsp;|&nbsp;&nbsp;  Designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster</a> - <a href="https://www.zerotheme.com/" title="free website templates">Zerotheme</a>
            </div>
        </div>
    </div>
</footer>
